@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
body{
	/* The image used */
  background-image: url("https://cdn.pixabay.com/photo/2017/12/26/09/15/woman-3040029_1280.jpg");

  /* Set a specific height */
  height: 100%;
  font-family: 'Kaushan Script', cursive; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

table{
	margin: 10px 210px;
	text-align: center;
	font-weight: 900;
	width: 70%;
	background: #ffffffb3;
}

td{
	height: 50px;
}


.drop-shadow1{
	border: 1px solid;
	padding: 10px;
	box-shadow: 5px 5px 10px black;
}

@media only screen and (max-width: 1050px){
    table{
    	margin: 10px 100px;
    }
}

@media only screen and (max-width: 475px){
    table{
    	margin: 10px 80px;
    }
}