body{
  background: #f4e9e9;
  color: black; 
}

.img-product{
  width: 700px;
  height: 700px;
}
.zoom {
  
  transition: transform .2s; /* Animation */
  width: 280px;
  height: 285px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(2.0); /* (200% zoom  */
}
.sec-back{
  margin:0px auto;
  font-weight: 900;
  width: 75%;
  background: #f4e9e9;
}
.text-product{
  padding: 20px;
  text-align: center;
  font-size: 30px;
}
.btnSubmit{
    font-weight: 600;
    width: 23%;
    color: white;
    background-color: #e05614;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
    margin: 50px;
    margin-right: 10px;
    font-size: 20px;
}

.btnSubmit:hover{
  font-size: 20px;
  font-weight: 900;
  background: #e05614b8;  
}

.btnSubmit1{
    font-weight: 600;
    width: 20%;
    color: white;
    background-color: #117a8b;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
    margin: 50px;
    margin-left: 10px;
    font-size: 20px;
}

.btnSubmit1:hover{
  font-size: 20px;
  font-weight: 900;
  background: #117a8bd9;  
}